//------------------------
// COLORS
//------------------------
.color-0 {
    color: $color-0;

    svg, path {
        fill: $color-0;
    }
}
.color-1 {
    color: $color-1;

    svg, path {
        fill: $color-1;
    }
}
.color-2 {
    color: $color-2;

    svg, path {
        fill: $color-2;
    }
}
.color-3 {
    color: $color-3;

    svg, path {
        fill: $color-3;
    }
}
.color-4 {
    color: $color-4;

    svg, path {
        fill: $color-4;
    }
}
.color-5 {
    color: $color-5;

    svg, path {
        fill: $color-5;
    }
}
.color-6 {
    color: $color-6;

    svg, path {
        fill: $color-6;
    }
}
.color-7 {
    color: $color-7;

    svg, path {
        fill: $color-7;
    }
}
.color-8 {
    color: $color-8;

    svg, path {
        fill: $color-8;
    }
}
.color-9 {
    color: $color-9;

    svg, path {
        fill: $color-9;
    }
}
.color-10 {
    color: $color-10;

    svg, path {
        fill: $color-10;
    }
}
.color-11 {
    color: $color-11;

    svg, path {
        fill: $color-11;
    }
}
.color-accent {
    color: $color-accent;

    svg, path {
        fill: $color-accent;
    }
}
.color-accent-text {
    color: $color-accent-text;

    svg, path {
        fill: $color-accent-text;
    }
}
.color-accent-muted {
    color: $color-accent-muted;

    svg, path {
        fill: $color-accent-muted;
    }
}
.color-success {
    color: $color-success;

    svg, path {
        fill: $color-success;
    }
}
.color-warning {
    color: $color-warning;

    svg, path {
        fill: $color-warning;
    }
}
.color-danger {
    color: $color-danger;

    svg, path {
        fill: $color-danger;
    }
}

.bg-0 {
    background-color: $color-0;
}
.bg-1 {
    background-color: $color-1;
}
.bg-2 {
    background-color: $color-2;
}
.bg-3 {
    background-color: $color-3;
}
.bg-4 {
    background-color: $color-4;
}
.bg-5 {
    background-color: $color-5;
}
.bg-6 {
    background-color: $color-6;
}
.bg-7 {
    background-color: $color-7;
}
.bg-8 {
    background-color: $color-8;
}
.bg-9 {
    background-color: $color-9;
}
.bg-10 {
    background-color: $color-10;
}
.bg-11 {
    background-color: $color-11;
}
.bg-accent {
    background-color: $color-accent;
}
.bg-success {
    background-color: $color-success;
}
.bg-warning {
    background-color: $color-warning;
}
.bg-danger {
    background-color: $color-danger;
}