.noselect, [noselect] {
    user-select: none;
}
.nodrag, [nodrag] {
    pointer-events: none;

    user-select: none;
    user-drag: none;
}

.fill, [fill],
.fill-w, [fill-w] {
    width: 100%;
}
.fill, [fill],
.fill-h, [fill-h] {
    height: 100%;
}

.rounded, [rounded] {
    border-radius: 50%;
}

.hidden, [hidden] {
    display: none;
}

.invisible, [invisible] {
    opacity: 0;
}