.noselect {
    user-select: none;
}
.nodrag {
    pointer-events: none;

    user-select: none;
    user-drag: none;
}

.fill, [fill] {
    width: 100%;
    height: 100%;
}
[fill-w] {
    width: 100%;
}
[fill-h] {
    height: 100%;
}

[rounded] {
    border-radius: 50%;
}