.noselect, [noselect] {
    user-select: none !important;
}
.nodrag, [nodrag] {
    pointer-events: none !important;

    user-select: none;
    user-drag: none !important;
}

.fill,
.fill-w, [fill-w] {
    width: 100% !important;
}
.fill,
.fill-h, [fill-h] {
    height: 100% !important;
}

.rounded, [rounded] {
    border-radius: 50% !important;
}

.hidden, [hidden] {
    display: none !important;
}

.invisible, [invisible] {
    opacity: 0 !important;
}