//------------------------
// INPUT
//------------------------
textarea, .vg-textarea {
    width: 100%;
    min-height: 125px;

    margin-bottom: 12px;

    padding: 14px;

    border: 1px solid $color-10;
    border-radius: $border-radius;

    transition: $transition;
    transition-property: background-color, border-color;
    outline: none;

    font-weight: 500;
    font-size: 16px;
    font-family: inherit;
    line-height: 24px;

    color: $color-1;
    background-color: $color-10;
    
    ::placeholder,::-moz-placeholder {
        color: $color-5;
    }

    // Focus state
    &:focus {
        border: 1px solid $color-accent;
        outline: 4px solid $color-accent-semi;
    }
    // Disabled state
    &:disabled {
        cursor: not-allowed;

        opacity: 0.7;
        ::placeholder, ::-moz-placeholder {
            color: $color-8;
        }
    }
}